.hire-us-container {
    max-width: 100%;
}

.packages-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.packages-container h2 {
  align-self: center;
  color: #d4af37;
}

.package-options {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.package-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.package-option h3 {
    color: #d4af37;
}

.package-option li {
    list-style: none;
    padding-bottom: 10px;
}

.package-image {
    width: 75%
}

.link a {
  font-size: 1.2rem;
  max-width: 700px;
  color: #d4af37;
}

.link a:hover {
  font-size: 1.21rem;
}

.contact {
  margin-top: 50px;
  color: #f0f0f0;
  font-size: 1.2rem;
}

/* --- Mobile --- */
@media (max-width: 768px) {
    .package-options {
        flex-direction: column;
    }
}


/*TEMPORARY STYLING UNTIL PACKAGES EXIST*/
.hire-us-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.hire-us-info h2 {
    color: #d4af37;
}

.temp-image {
    width: 35%;
    padding-bottom: 20px;
}