/* General styles */
body {
  margin: 0;
  background-color: #121212;
  font-family: 'Playfair Display', 'Helvetica', sans-serif;
  color: #e0e0e0;
}

.home-container {
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* Slideshow styles */
.slideshow {
  position: relative;
  height: 90vh;
  width: 80%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 1;
}

.slide.active {
  opacity: 1;
  z-index: 2;
}

.slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 0 20px;
}

.slide-text {
  font-size: 3rem;
  color: #d4af37;
  letter-spacing: 1.5px;
}

/* Welcome section */
.home-main {
  padding: 60px 20px;
  text-align: center;
}

.welcome-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-size: 3.5vw;
  background: black;
  /* margin-top: 70px; */
  width: 30%;
  color: #d6d6d6;
}

.welcome {
  font-size: 2vw;
  margin-bottom: 15px;
}

.description {
  margin-top: 20px;
  font-size: 2.5vw;
}

.slide-container {
  display: flex;
  justify-content: space-between;
  width: 100%
}

/* --- Services Section --- */
.services-section {
  padding: 80px 10px 10px;
  text-align: center;
  background-color: #181818;
  color: #e0e0e0;
}

.section-title {
  font-size: 2.5rem;
  color: #d4af37;
  margin-bottom: 30px;
  font-family: 'Playfair Display', 'Helvetica', sans-serif;
}

.services-description {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 1.8;
  color: #ccc;
}

.services-list {
  list-style: none;
  padding: 0;
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 2;
}

.services-list li {
  margin: 10px 0;
  color: #f0f0f0;
}

.list-link a {
  font-size: 1.2rem;
  max-width: 700px;
  color: #d4af37;
}

.list-link a:hover {
  font-size: 1.21rem;
}

/* --- Mobile --- */
@media (max-width: 768px) {
    .slide-container {
        flex-direction: column;
    }

    .welcome-text {
        width: 100%;
    }

    .welcome-text p, i {
        text-align: center;
    }

    .slideshow {
        width: 100%
    }
}